RI_CORE_BASE_URL=https://test-ri-core.residentinterface.com
RI_CORE_API_KEY=
RI_CORE_HTTP_TIMEOUT_S=30
AWS_REGION=us-east-1
COLLECTION_CORE_DOCUMENTS_API_SSM_PARAMETER=/agents/COLLECTION_CORE_DOCUMENTS_API_KEY
